<!DOCTYPE html>
<html ng-app="MyFirstApp">
<head>
	<meta charset='utf-8'/>
	<title>Hola mundo con AngularJS</title>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular.min.js"></script>
	<script src='index.js'></script>
</head>
<body ng-controller="FirstController">
	<label for='comentario'>Comentario</label><input type='text' name='comentario' ng-model='nuevoComentario.comentario' /><br/>
	<label for='username'>Usuario</label><input type='text' name='username' ng-model='nuevoComentario.username' /><br/>
	<button ng-click="agregarComentario()">Agregar comentario</button>
	<h3>Comentarios</h3>
	<ul>
		<li ng-repeat="comentario in comentarios">
			{{comentario.comentario}} - <strong>{{comentario.username}}</strong>
		</li>
	</ul>
</body>
</html>